*::after,
*::before,
* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #232323;
}

.container {
  max-width: 1024px;
  margin-inline: auto;
  height: 100dvh;
  display: grid;
  place-content: center;
}

.calculator-container {
  border: solid 4px rgb(19, 173, 201);
  box-shadow: 4px 4px 0 0 rgb(30, 101, 114);
  border-radius: 16px;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  width: 100%;
}

.display {
  background-color: #f7f7f7;
  padding: 0.5rem 0.25rem;
  border-radius: 12px;
  text-align: right;
  color: #232323;
  font-weight: 600;
  font-size: 2.875rem;
  line-height: 1;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.digit {
  border: 0;
  text-align: center;
  padding: 1rem;
  border-radius: 12px;
  background-color: #4b4b4b;
  color: #f7f7f7;
  font-size: 1.25rem;
  cursor: default;
}

.operator,
.decimal,
.equals,
.clear,
.delete {
  background-color: #2a2a2a;
  color: rgb(19, 173, 201);
  font-weight: 600;
  border: 0;
  text-align: center;
  padding: 1rem;
  border-radius: 12px;
  font-size: 1.25rem;
  cursor: default;
}

.clear {
  grid-column: span 2;
}

.delete {
  padding: 0.75rem;
}

.equals {
  grid-column: span 2;
}

.digit:hover,
.operator:hover,
.decimal:hover,
.equals:hover,
.clear:hover,
.delete:hover {
  opacity: 0.9;
}

.digit:active,
.operator:active,
.decimal:active,
.equals:active,
.clear:active,
.delete:active {
  opacity: 0.8;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 280px;
  }

  .calculator-container {
    min-width: 240px;
  }
}

@media screen and (min-width: 360px) {
  .container {
    max-width: 315px;
  }

  .calculator-container {
    min-width: 295px;
  }
}

@media screen and (min-width: 390px) {
  .container {
    max-width: 350px;
  }

  .calculator-container {
    min-width: 315px;
  }
}

@media screen and (min-width: 425px) {
  .container {
    max-width: 370px;
  }

  .calculator-container {
    min-width: 330px;
  }
}
